{% extends "base4.html" %}
{% load static %}
{% block title %}Analysis{% endblock %}
{% block content %}
<style>
    .div_analysis_img {
        height: 37rem;
        border-radius: 1vw;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    #imageContainer img {
        max-width: 100%;
        max-height: 100%;
    }

    #form_img .btn {
        border-radius: 0;
        background-color: #2bb8c1;
        border: none;
        width: 7rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        margin-bottom: 0.2rem;
        transition: background-color 0.3s;
    }

    #form_img .btn:hover {
        background-color: #1f9ba2;
    }

    .div_h1 {
        background-color: #2bb8c1;
        border: none;
        border-radius: 0.375rem;
    }

    .div_h1 h1 {
        color: #fff;
        margin: 0;
        padding: 0.5rem;
    }

    .div_btn button:hover {
        background-color: #1f9ba2;
    }

    .div_analysis_detailes {
        height: 40rem;
        border-radius: 0.3rem;
        margin-bottom: 0.2rem;
        transition: background-color 0.3s;
    }
    
    .div_analysis_detailes .card {
        height: 35rem;
        border-radius: 0.3rem;
        margin-bottom: 0.2rem;
        transition: background-color 0.3s;
    }

    .div_h {
        background-color: #2bb8c1;
        border: none;
        border-radius: 0.375rem;
    }

    .div_h h1 {
        color: #fff;
        margin: 0;
        padding: 0.5rem;
    }

    .details {
        height: 37rem;
        margin-inline-start:1rem;
        padding: 1rem;
        background-color: #fff;
        border-radius: 1vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .dat {
        margin-top: 1rem;
        height: 29rem;
        border-radius: 1vw;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
</style>
<section id="section_analysis" class="d-flex flex-wrap mt-4">
    <div class="div_analysis_img col-md-4 mb-4">
        <div class="div_h1 text-center">
            <h1>Add Analysis</h1>
        </div>
        <form id="form_img" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
            {% csrf_token %}
            <div id="imageContainer" class="d-flex justify-content-center align-items-center border rounded bg-light mb-3" style="width: 100%; height: 40vh;">
                {% if uploaded_file_url %}
                    <img id="image" name="image" src="{{ uploaded_file_url }}" alt="Uploaded Image" style="display: block;">
                {% else %}
                    <img id="image" name="image" src="#" alt="Selected image will appear here" style="display: none;">
                {% endif %}
            </div>
            <div class="custom-file mb-3">
                <label class="custom-file-label" for="fileInput">Add Image</label>
                <input type="file" name="image" class="custom-file-input" id="fileInput">
            </div>
            <div class="d-flex justify-content-between w-100">
                <button type="button" class="btn btn-danger mr-2" id="deleteBtn">Delete</button>
                <button type="submit" class="btn btn-primary">Check</button>
            </div>
        </form>
    </div>
    
    <div class="div_analysis_detailes col-md-8 mb-4">
        <div class="details">
            <div class="div_h text-center">
                <h1> Analysis Details</h1>
            </div>
            <div class="dat">
                {% if uploaded_file_url %}
                    <p><strong>Test Type:</strong> {{ test_type }}</p>
                    <p><strong>Test Values:</strong></p>
                    <ul>
                        {% for key, value in test_values.items %}
                            {% if value is not None %}
                                <li>{{ key }}: {{ value }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <p><strong>Severity Level:</strong> {{ severity_level }}%</p>
                    <p><strong>Diagnosis:</strong> {{ diagnosis }}</p>
                    <p><strong>Guidelines and dietary advice:</strong> {{ guidelines }}</p>
                    <p>Avoid treatments that contain corticosteroid compounds like:</p>
                    <ul>
                        <li>Cortison</li>
                        <li>Prednisonlon</li>
                        <li>Methyiprednisolone</li>
                        <li>Dexamethasone</li>
                        <li>Betamethasone</li>
                    </ul>
                {% else %}
                    <p>No analysis results to display.</p>
                {% endif %}
            </div>
        </div>         
    </div>
</section>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>
<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById('image');
                img.src = e.target.result;
                img.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('deleteBtn').addEventListener('click', function () {
        const img = document.getElementById('image');
        img.src = '#';
        img.style.display = 'none';
        document.getElementById('fileInput').value = '';
    });
</script>
{% endblock %}
