{% load static %}
<footer class="pt-5 pb-4" style="background-color: #1f9ba2;">
    <div class="container text-md-left text-white">
        <div class="row text-md-left">
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Company Name</h5>
                <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    ital consectetur lorem ipsum dolor sit amet adipisicing elit.
                </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                <p>
                    <i class="fas fa-home mr-3"></i> Cairo, Ain Shams
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> samuelmagdy@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +01 234 567 8
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +01 234 567 8
                </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Follow us</h5>
                <div>
                    <a href="https://www.facebook.com/tfgn" class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/refv" class="btn btn-primary btn-floating m-1" style="background-color: #55acee" role="button"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/reg" class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" role="button"><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/tgbrb" class="btn btn-primary btn-floating m-1" style="background-color: #0088cc" role="button"><i class="fab fa-telegram"></i></a>
                    <a href="https://wa.me/87527" class="btn btn-primary btn-floating m-1" style="background-color: #25d366" role="button"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
